@media (min-width: 1200px) and (max-width: 1399px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-header .logo {
    margin: 20px 0 20px 20px;
  }
  #mynav ul li a {
    font-size: 17px;
    line-height: 15px;
  }
  #left-slide {
    top: 135px;
    width: 11%;
  }
  #mynav ul li.contact a {
    padding: 10px 25px;
  }
  .menu-fixed {
    padding-right: 70px;
  }
  #left-slide ul li.active,
  #left-slide ul li {
    padding: 20px 10px 20px 20px;
  }
  #footer {
    clip-path: polygon(0 3%, 100% 53%, 100% 100%, 0% 100%);
  }

  /* service page */
  #service-page{
    margin-left: 14%;
     margin-right: 12%;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .logo {
    margin: 20px 0 20px 20px;
  }
  #mynav ul li a {
    font-size: 16px;
    line-height: 15px;
  }
  #mynav ul li.registation {
    margin-right: 55px;
  }
  #mynav ul li.vector {
    padding: 20px 10px 0px 13px;
  }
  #mynav ul li a {
    font-size: 12px;
  }
  #mynav ul li.contact a {
    padding: 10px 20px;
  }
  #left-slide {
    top: 134px;
  }
  #left-slide ul li.active,
  #left-slide ul li {
    padding: 8px 10px 15px 10px;
  }
  #left-slide ul li a {
    font-size: 15px;
  }

  #media .right-img img {
    width: 100%;
  }
  #media .payment {
    margin-top: 20px;
  }
  #media .payment .pyment_img li {
    margin-left: 5%;
  }
  #media .content::before {
    height: 68%;
  }
  #footer .company {
    margin-top: 38px;
  }

  /* service page */
  #service-page{
    margin-left: 16%;
     margin-right: 12%;
   }

   .description p {
    color: #666;
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    padding-left: 11px;
    letter-spacing: 1px;
    margin: 10px 0;
   }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar-light .navbar-toggler {
    margin-right: 10px;
  }
  .main-header .logo {
    margin: 20px 0 20px 20px;
  }
  #mynav {
    background-color: #fff;
  }
  #mynav ul {
    text-align: center;
  }
  #mynav ul li.registation {
    padding-top: 20px;
    margin-right: 0;
    justify-content: center;
  }
  #mynav ul li.registation a {
    padding: 10px;
  }
  #mynav ul li.vector::after {
    display: none;
  }
  #left-slide {
    top: 86px;
  }
  #left-slide ul li.active,
  #left-slide ul li {
    padding: 10px 10px 10px 4px;
  }
  #left-slide ul li a {
    font-size: 13px;
  }
  #media .payment,
  #media .right-img,
  #media .content {
    padding-left: 12%;
  }
  #media .right-img img {
    width: 100%;
  }
  #media .payment .pyment_img li {
    margin-left: 5%;
  }
  #media .content::before {
    right: 0;
    top: unset;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 25%;
  }
  .secvice-content {
    padding-left: 12%;
  }
  #service .img {
    margin-left: 12%;
    margin-top: 20px;
  }
  #footer {
    padding-top: 0;
    clip-path: none;
    margin-left: 12%;
    text-align: center;
    margin-bottom: 0;
  }
  #top-header .logo img{
      width: 100px;
  }

   /* service page */
   #service-page{
    margin-left: 16%;
     margin-right: 12%;
   }
   #payment .img {
    width: 70%;
    position: relative;
    margin-left: 10%;
}
#payment .payment-btn-group {
  width: 90%;
}
.description p {
  color: #666;
  font-size: 23px;
  font-weight: 700;
  text-align: left;
  padding-left: 100px;
  letter-spacing: 2px;
  margin: 32px 0;
}
}
@media (max-width: 575px) {
    #mynav ul li.registation a {
        padding: 10px;
      }
      #mynav ul li.vector::after {
        display: none;
      }
      #mynav {
        background-color: #fff;
      }
      #mynav ul {
        text-align: center;
      }
      #mynav ul li.registation {
        padding-top: 20px;
        margin-right: 0;
        justify-content: center;
      }
    #left-slide{
        width: 17%;
    }
    #top-header .logo img{
        width: 100px;
    }
    #left-slide{
        top: 95px;
    }
    #left-slide ul li.active,
    #left-slide ul li {
      padding: 10px 10px 10px 4px;
    }
    #left-slide ul li a{
        font-size: 15px;
    }
    .menu-fixed .navbar-toggler{
        margin-right: 15%;
        margin-top: 2%;
        padding-top: 7%;
    }
    .menu-fixed .logo{
        margin-top: 50px;
        padding-top: 20px;
    }
    #media .payment,
    #media .right-img,
    #media .content {
      padding-left: 27%;
    }
    #footer {
        padding-top: 0;
        clip-path: none;
        margin-left: 12%;
        text-align: center;
        margin-bottom: 0;
      }
      #media .content p {
        font-size: 16px;
        line-height: 24px;
    }
    #media .right-img img {
        width: 80%;
      }
      #media .content::before {
        right: 0;
        top: unset;
        width: 50%;
        height: 3px;
        bottom: -2%;
        left: 25%;
      }
      #media .payment .pyment_img li {
        margin-left: 0%;
    }
    #media .payment .pyment_img li img{
        width: 50px;
    }
    #service .secvice-content {
        margin-left: 34%;
    }
    .secvice-content p {
        font-size: 14px;
        padding: 0 10px;
    }
    #service .img{
        width: 70%;
        margin-left: 20%;
    }
    #service-page .search .search-box, #media .search .search-box {
      width: 50%;
    }
    #footer .logo {
      width: 60%;
      margin-top: 20px;
  }


     /* service page */
  #service-page{
    margin-left: 25%;
     margin-right: 12%;
   }
   #payment .img {
    width: 70%;
    position: relative;
    margin-left: 20%;
}
#payment .img a {
  position: absolute;
  top: unset;
  right: unset;
  color: #ff6633;
  font-size: 20px;
  bottom: -35px;
  left: 40%;
}
#payment .paypal-btn {
  margin: 46px 0;
  display: inline-block;
  padding: 7px 45px;
}
#payment .payment-btn-group {
  padding: 10px 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.description h2 {
  letter-spacing: 1px;
}
.description p {
  font-size: 17px;
  padding-left: 20%;
  letter-spacing: 1px;
  margin: 16px 0;
  padding-right: 10px;
}
#payment .search, #service-page .search, #media .search {
  margin-top: 3%;
  margin-right: 10%;
}
  
}
